@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --red: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}
body {
    background-color: white;
}
