

.ctsidebar{
    background-color: rgb(218, 251, 255);
   // border-top: 2px solid rgb(216, 216, 216);
    border-right: 2px dashed rgb(96, 252, 255);
 }
 .ctsidebar ul{
    background-color: rgb(218, 251, 255);
    font-size: 16px;
    font-weight: 750;
    
}